<!DOCTYPE html>
<html lang="${lang}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
		
        <h1 th:text="#{market.stock.tracking.screen}">Stock Tracking Screen</h1>
		
		<div class="language">
		     <select id="language" onchange="changeLanguage()">
		         <option value="en" th:selected="${lang == 'en'}">English</option>
		          <option value="tr" th:selected="${lang == 'tr'}">Türkçe</option>
		          <option value="de" th:selected="${lang == 'de'}">Deutsch</option>
		       </select>
		 </div>
		 
          <form action="/send" th:object="${product}" method="post" class="form">
			
			<div class="form-container">
                <div class="form-item">
                    <label th:text="#{product.name}">Product Name</label>
                    <input type="text" th:field="*{productName}" />
                    <div class="error" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Product name error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.count}">Count</label>
                    <input type="number" th:field="*{count}" />
                    <div class="error" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">Count error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.barcode}">Barcode</label>
                    <input type="number" th:field="*{barcode}" />
                    <div class="error" th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}">Barcode error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.category}">Category</label>
                    <select th:field="*{category}">
                        <option th:text="#{category.fruit}" value="Fruit">Fruit</option>
						<option th:text="#{category.vegetables}" value="Fruit">Vegetables</option>
						<option th:text="#{category.temel}" value="Fruit">Staple Food</option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.purchasePrice}">Purchase Price</label>
                    <input type="number" step="0.01" th:field="*{purchasePrice}" />
                    <div class="error" th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}">Purchase price error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.salePrice}">Sale Price</label>
                    <input type="number" step="0.01" th:field="*{salePrice}" />
                    <div class="error" th:if="${#fields.hasErrors('salePrice')}" th:errors="*{salePrice}">Sale price error</div>
                </div>
				
                <div class="form-item">
                    <label th:text="#{product.dateOfBirth}">Date of Birth</label>
                    <input type="date" th:field="*{dateOfBirth}" />
                    <div class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth error</div>
                </div>
				
                <input type="submit" value="Add" class="submit-button" th:value="#{add}"/>
            </form>

        </div>
		<a href="list.html" class="view" th:text="#{existing.product.list}">View Existing Products</a>
    </div>
	
    <script>
        function changeLanguage() {
            const lang = document.getElementById('language').value;
            window.location.href = 'form.html?lang=' + lang;
        }
    </script>
	
</body>
</html>
